

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bigelow+Rules&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    
    
  }
  .block {
    font-family: sans-serif;
    font-size: 20px;
    width: 320px;
    min-height: 50vh;
    max-height: 120vh;
    margin: 10px;
    // background-color: rgba(140,130,200,0.8);
    // background-image: grey; //linear-gradient(0deg, rgba(240,130,200,1) 90%, rgba(140,130,200,0.8) 100%);
    
    border-radius: 10px;
    border: 3px solid  black;

    box-shadow: 5px 4px lightblue;
  }

.app-title {
  font-family: 'Barlow', sans-serif;
  font-size: 32px;
  color: white;
  padding-top: 10px ;
text-align: center;
}
.display {
 
    
    background-color: white;
    width: 300px;
    height: fit-content;
    text-align: end;

    padding:9px;
    margin:  30px  auto 15px auto;
    font-size: xx-large;

    border: 3px solid rgb(125, 99, 164);
    border-radius: 10px;

    // box-shadow: 2px 1px lightblue;
    
}

.inputs-plate {
    display:flex;
    flex:inline;
    

    // background-image: linear-gradient(180deg, rgba(240,130,200) 50%, rgba(140,130,200,0.03) 100%);
    padding: 30px 10px 30px 10px;
    margin-left:auto;
    margin-right:auto;

    // border-radius: 1px 1px 10px 10px;

}

.num-block{
    
    display: grid;
  place-items: center;
  gap: 9px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, 50px);

  padding-left:10px
}

.ops-block{
    
  display: grid;
place-items: center;
gap: 9px;
grid-template-columns: repeat(1, auto);
grid-template-rows: repeat(4, 50px);

padding-left: 20px
}

.button {
    background-color: white;
    // border: 3px solid rgba(140,130,200,0.8);
    min-width: 60px;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;

    box-shadow:8px 6px lightblue;
    
    
}

.service {
  padding-left: 20px;
  text-align: left;
  font-family:  'Barlow', sans-serif ;
  font-weight: 100;
  
}
.small-serv {
  font-size: 10pt;
}

